{% extends 'index.html' %}
{% block content %}
<button class="float-right">
    <a href="{% url 'item' %}"
       class="cart-btn product-model-sidebar-open-btn  align-item-center">
        Add Item
    </a>
</button>
<h1>Items List</h1>

<div class="container">

    <div class="row row-cols-4 g-1">
        {% for c in item %}
        <div class="card d-flex flex-column ml-4 mb-4">

            <div class="card-body">
                <a href="{% url 'itemdetail' c.id %}">

                    <img class="card-image" height="225px" width="225px" src="{{ c.image.url }}" alt="None">

                    <h4 class="card-title">
                        {{ c.name }}

                    </h4>
                    <div class="card-text">
                        <p>
                            {{ c.description }}

                        </p>
                        <h5><strong>Rs:</strong>
                            {{ c.price }}
                        </h5>
                    </div>
                </a>


            </div>
            <button>
                <a href="{% url 'edit_item' c.id %}"
                   class="cart-btn product-model-sidebar-open-btn  align-item-center">
                    Edit Item
                </a>
            </button>

        </div>
        {% endfor %}
    </div>
</div>



{% endblock content %}
