{% extends 'index.html' %}
{% load cart_tag %}

{% block content %}
<hr>

<h3>Order Summary</h3>
<table class="table">
    <thead>
    <tr>
        <th>Image</th>
        <th>Item</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total</th>
        <th>Order By</th>
        <th>Status</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    {% for item in order %}
    <tr>
        <td><img src="{{ item.item.image.url }}" width="50" height="50" alt=""></td>
        <td>{{ item.item }}</td>
        <td>{{ item.price }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.price|multiply:item.quantity }}</td>
        <td>{{ item.customer }}</td>

        {% if item.delivered %}
        <td><small class="badge bg-success">Completed</small></td>
        {%else%}
        <td><small class="badge bg-warning">Pending</small></td>
        <td>


                        <form method="post" action="{% url 'order' %}" >
                            {% csrf_token %}
                            <input type="hidden" name="item" value="{{ item.id }}">
                            <button type="submit" class="btn btn-sm text text-info">Click to Complete</button>
                        </form>



        </td>
        {% endif %}
    </tr>
    {% endfor %}

    </tbody>
</table>


{% endblock content %}
