{% extends 'menu/userindex.html' %}

{% block content %}
<h1>Browse Categories----------------------------------------------------------------</h1>
<div class="container">
    <div class="row row-cols-6 g-3">
        {% for c in category %}
        <div>
            <a href="{% url 'item_list' c.id %}"><br><img height="150px" width="150px" src="{{ c.image.url }}"
                                                                  alt="None"><br></a>
        </div>
        <br>
        {% endfor %}
    </div>
</div>
<br>
<br>
<br>

{% endblock %}
